################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Sky.Xunit.TestDataExpand/obj
/TestProject/bin/Debug/net8.0
/TestProject/obj
/Sky.Xunit.TestDataExpand/bin/Debug/netstandard2.0
/Sky.Xunit.TestDataExpand/bin
/TestProject/bin/Release/net8.0
